
@font-face{
    font-family: 'Silkscreen'; 
    src: url("https://www.dafont.com/silkscreen.font") format("truetype");
  }
  @font-face {
    font-family: '5P5';
    src: url(fonts/5P5.ttf);
  }
     @font-face {
            font-family: 'ambitsek';
            src: url(fonts/ambitsek.ttf);
     }
     @font-face {
        font-family: 'pixelgamefont';
        src: url(fonts/PixelGameFont.ttf);
     }
  #para1 {
    width: 20%;
    text-align: left;
    color: rgb(154, 154, 255);
    
  }
 
body{
    background-color: white;
    color: rgb(255, 127, 36);
    font-family: 'Courier', monospace;
    -webkit-font-smoothing : none;
    text-align: center;
  }
  h1 {
    font-style:'pixelgamefont';
    src: url(fonts/PixelGameFont.ttf);
    Text-align: center;
    font-size: 40px;
    color:rgb(255, 147, 69)
  }
  h2 {
    font-family:'Courier', monospace;
    -webkit-font-smoothing : none;
    font-size: 18px;
    color:aqua;
  }
  h3{
    font-family:'Courier', monospace;
    -webkit-font-smoothing : none;
    font-size: 18px;
    color:rgb(34, 215, 255);
  }
  title{
    font-style:'pixelgamefont';
    src: url(fonts/PixelGameFont.ttf);
    Text-align: center;
    color:chocolate;
  }
a{
  color:rgb(255, 142, 199);
}
  p{
    font-style: '';
    src: url(fonts/5P5.ttf);
    text-align: center;
    color:rgb(98, 137, 255);
  }
  
 .background{
    max-height: 100%;
    display: flex;
    justify-content: center;
    background-size: contain;
     
    }

  img {
    width: 30%;
    Height: 30%;
  }

.img-large{
  width: 92%;
  height:auto
}

.less-wide-p{
  font-style: '';
  src: url(fonts/5P5.ttf);
  text-align: center;
  color:rgb(98, 137, 255);
  max-width: 60%;
}




 
   

  

  
 

